body {
  color: #F9FAFA;
}

body a {
  text-decoration: none;
  text-transform: uppercase;
  color: #F9FAFA;
}

#wrapper {
  width: 100%;
}

#top {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

#tilted-stripe {
  width: 237.9px;
  height: 238.9px;
  margin: -153px -200px -87px;
  transform: rotate(29deg);
  background: #ACC1D1;
}

#stripe {
  width: 100%;
  height: 70px;
  top: 0;
  background: #5E8CB6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img#TH-symbol {
  width: 54px;
  padding: 15px;
  /*border: 0.5px solid #F9FAFA;*/
}

#title-row {
  display: flex;
  flex-direction: column;
}

#logo-title {
  font-family: 'Muli', sans-serif;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#logo-subtext {
  font-family: 'Muli', sans-serif;
  font-size: 16.7px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 5px;
}

#top-img {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

#info-box {
  font-family: 'Muli', sans-serif;
  width: 375px;
  height: 427px;
  background: rgba(94,140,182,0.60);
  display: flex;
  /*display: none;*/
  flex-direction: column;
  position: absolute;
}

.prod-box {
  padding: 20px 50px 0px 50px;
}

p#small {
  font-size: 12.5px;
  font-weight: 300;
  text-align: left;
}

p#big {
  font-size: 24.5px;
  font-weight: 300;
  margin-top: -22px;
  text-align: left;
}

p#description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

#symbols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.symbol {
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.materia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;  
}

p.materia {
  width: 110px;
}

#CTA-stripe {
  width: 100%;
  align-self: flex-end;
  margin-top: 7.5%;
  background: #5E8CB6;
}

#CTA {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  width: 100%;
  height: 65px;
  position: absolute;
  background-color: #5E8CB6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  /*display: none;*/

}

p {
  padding: 11px !important;
  text-align: center;
}
